# Ignore uploaded thumbnails
uploads/thumbnails/
uploads/profil_kitab/
uploads/kajian_kitab/
node_modules/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.csv
coverage/
dist/
build/

.DS_Store
Thumbs.db